@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Unbounded', cursive;
}

@layer components {
  .flex-primary {
    @apply flex justify-between items-center
  }
  .flex-primary-gap {
    @apply flex justify-between items-center gap-2
  }
  .flex-primary-gap-cursor-hover {
    @apply flex justify-between items-center gap-2 cursor-pointer hover:text-red-600
  }
}

::-webkit-scrollbar {
  border-radius: 10px;
  width: 14px;  /* width of the scrollbar */
  background-color: #F5F5F5;  /* background color of the scrollbar */
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 100px;  /* rounded corners for the scrollbar thumb */
  background-clip: content-box;
  background-color: rgba(255, 30, 30, 0.432);  /* color of the scrollbar thumb */
}

